/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

button:hover {
  opacity: 0.6;
}

.linkbutton {
  background: transparent;
}

.linkbutton:hover {
  text-decoration: underline;
}
